body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1a2637;
}

.breathing-circle {
  width: 20vh;
  height: 20vh;
  background: radial-gradient(
    circle at 35% 35%,
    #8dcdff 0%,
    rgba(129, 212, 250, 0.9) 25%,
    rgba(100, 181, 246, 0.8) 50%,
    rgba(79, 159, 227, 0.6) 100%
  );
  border-radius: 50%;
  /* filter: blur(1px); */
  box-shadow: 0 0 10px rgba(100, 181, 246, 0.3);
  /* inset -2px -2px 4px rgba(0, 0, 0, 0.2), */
  /* inset 2px 2px 4px rgba(255, 255, 255, 0.2); */
  animation: breathe 9s infinite;
}

@keyframes breathe {
  0%,
  100% {
    /* Inhale */
    transform: scale(1);
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  35% {
    /* Hold */
    transform: scale(2);
    animation-timing-function: linear;
  }

  40% {
    /* Exhale */
    transform: scale(2);
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  90% {
    /* Hold */
    transform: scale(1);
    animation-timing-function: linear;
  }
}


.hidden {
  display: none;
}
.audio-hidden {
  display: none;
}


  #audio-toggle-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.5s;
  }
  #audio-toggle-button img {
    width: 24px;
    height: 24px;
  }

@media (max-width: 600px) {
  #audio-toggle-button {
    padding: 20px;
  }

  #audio-toggle-button img {
    width: 32px;
    height: 32px;
  }
}
